*{
    color: white;
    border: 0px;
    outline: none;
}
form{
    background-color: #213b50;
    width: 50%;
    padding: 30px;
}
form input, form select{
    margin-bottom: 5px;
}
form > label{
    display: block;
    margin: 5px;
}
form > input{
    background-color: #2b4a64;
}
form > input[type="text"], 
form > input[type="email"], 
form > input[type="tel"]{
    width: 250px;
    height: 25px;
}
form > input:focus, 
form > select:focus, 
textarea:focus{
    background-color: #4e708c;
    border: 1px #ffffff solid;
    color: #ffffff;
}
form > select{
    background-color: #2b4a64;
    width: 250px;
    height: 25px;
}
form > input[type="radio"] + label{
    display: inline;
}
form > textarea{
    width: 250px;
    height: 100px;
    background-color: #2b4a64;
}
form > input[type="checkbox"] + label{
    display: inline;
}
form > input[type="submit"]{
    background-color: limegreen;
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
    font-weight: 900;text-transform: uppercase;
    
}
form > p{
    margin: 5px;
}