#name:hover{
    background-color: coral;
}
#name:focus{
    font-size: 100px;
}
.customer:first-child{
    font-size: 40px;
}
.customer:first-of-type{
    color: forestgreen;
}
.customer:nth-last-of-type(4){
    color: cadetblue;
}
.customer:nth-child(3n+3){
    background-color: bisque;
}